/*
Copyright 2019, 2020, Paul Morris

This file is part of The Caller's Application.

The Caller's Application is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

The Caller's Application is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with The Caller's Application.  If not, see <https://www.gnu.org/licenses/>.
*/

/* Variables */

:root {
  --light-grey-border: #dbdbdb;
  --background-color-primary: #fafafa;
  --background-color-secondary: #eee;
  --section-padding: 0.75rem;
  --toolbar-main-height: 49px;
}

/* Basics */

html {
  /* Don't show a scroll bar on the window if it isn't necessary. */
  overflow-y: auto !important;
}

.app {
  background: var(--background-color-primary);
}

.default-table {
  background: transparent;
  border-bottom: 1px solid var(--light-grey-border);
}

.default-table th {
  font-weight: normal;
  font-size: 13px;
}

/* Main Layout */

.toolbar-main {
  /* Background color needed to prevent bleed through. */
  background: var(--background-color-primary);
  border: 1px solid var(--light-grey-border);
  border-width: 1px 0px;
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.column-under-toolbar {
  height: calc(100vh - var(--toolbar-main-height));
  margin-top: var(--toolbar-main-height);
  overflow: auto;
}

.row-under-toolbar {
  margin-top: var(--toolbar-main-height);
}

.horizontal-search-form-panel {
  background: var(--background-color-primary);
  border: 1px solid var(--light-grey-border);
  border-width: 1px 0px;
  position: fixed;
  top: calc(var(--toolbar-main-height) - 2px);
  width: 100%;
  z-index: 100;
}

/* Search Dances View */

.search-form-wrapper {
  width: 250px;
}
.left-column {
  border-right: 1px solid var(--light-grey-border);
}

/* .middle-column { } */
.right-column {
  border-left: 1px solid var(--light-grey-border);
}

.background-secondary {
  background: var(--background-color-secondary);
}

/* Search Results */

.dances-list-info {
  padding: 0.5em 0.25em;
}
.dances-list-info-grid {
  font-size: 13px;
}
.dances-table {
  border-top: 1px solid var(--light-grey-border);
  margin-bottom: 0 !important;
}
.dances-table-row:hover {
  background-color: var(--background-color-secondary);
  cursor: pointer;
}
.search-results-footer {
  font-size: small;
}
.deprecated-or-broken {
  background-color: #ddd;
  margin-left: 0.5em;
}
.dances-table-cell {
  vertical-align: middle !important;
}
.storage-status-cell {
  width: 1.6em;
  padding: 0.25em !important;
}
.badge-cell {
  width: 1.1em;
  padding: 0.25em !important;
  color: #666;
  font-size: small;
}
.badge-cell-figures {
  padding-right: 0 !important;
}
.badge-cell-links {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.badge-cell-videos {
  padding-left: 0 !important;
}
.authors-cell {
  font-size: small;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.formation-base-cell {
  color: #666;
  font-size: small;
  width: 2.8em;
}

/* Dance storageStatus Toggle Widget */

.is-in-toggle,
.is-out-toggle,
.is-removed-toggle,
.is-incoming-in-toggle {
  height: 1.125em;
  width: 1.125em;
  border-radius: 0.5625em;
  display: inline-block;
  vertical-align: text-top;
}
.is-in-toggle {
  background: #618c61;
  border: 1px solid #618c61;
}
.is-out-toggle,
.is-removed-toggle {
  background: #fff;
  border: 1px solid #aaa;
}
.is-incoming-in-toggle {
  background: #fff984;
  border: 1px solid #999;
}

/* Figures Table */

.figures-table-th {
  border: 0 !important;
  font-weight: inherit;
  padding-left: 0 !important;
  width: 1.7em;
}
.figures-table-td {
  border: 0 !important;
  padding-right: 0 !important;
}

/* Miscellaneous */

.our-box {
  border-top: 1px solid var(--light-grey-border);
  padding: 0.5em 0;
  margin: 0.5em 0;
}

.plain-text-button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

/* Dance Search Form */

.shortcut-searches-box {
  margin-top: 1.5em;
}

/* Dance Detail View */

.dance-view-buttons-container {
  margin-bottom: 0 !important;
}

.fetching-dance-message {
  font-style: italic;
}

.dance-detail-view-subheading {
  text-transform: uppercase;
}

.calling-notes-text p {
  margin-bottom: 1rem;
}

.videos-section a,
.variant-videos-section a {
  background: #eee;
  border-radius: 4px;
  display: inline-block;
  margin-top: 4px;
  min-width: 2em;
  padding: 4px;
  text-align: center;
}

.videos-section a:hover,
.variant-videos-section a:hover {
  background: #ddd;
}

.dance-detail-modal {
  z-index: 200;
}

.dance-detail-modal-content {
  padding: 0.75rem;
}

/* Edit dance view */

.edit-dance-body {
  margin-top: 3em;
  margin-right: 0em;
}

.edit-dance-appearances-videos {
  border-top: 1px solid var(--light-grey-border);
  margin-top: 1em;
  padding-top: 1em;
}

.text-input-select-width {
  width: 40px;
}

/* Textarea autocomplete */

.figure-suggestions-wrapper {
  position: absolute;
  margin-top: 1.1em;
  z-index: 100;
  background: white;
  border: 1px solid #3273dc;
  width: 100%;
  left: 8px;
}

.figure-suggestions-list {
  font-size: 0.75rem;
}

.menu-list a.figure-suggestion:hover {
  background: #dbdbdb;
  border-radius: 0;
}

.menu-list a.figure-suggestion-selected {
  background: #acccff !important;
  border-radius: 0;
}

/* Programs */

.static-field {
  margin-bottom: 0 !important;
}

.programs-list-table {
  margin-top: 0.5rem;
}

.programs-list-row {
  cursor: pointer;
}

.programs-list-row:hover {
  background-color: var(--background-color-secondary);
}

.program-detail-button-container {
  margin-bottom: 0.25rem !important;
  border-bottom: 1px solid #ddd;
}

.dances-list {
  border-bottom: 1px solid var(--light-grey-border);
}

.dances-list-item {
  list-style: none;
}

.dances-list-item-editable {
  cursor: grab;
}

.programs-dance-list-item-body {
  display: flex;
  border-top: 1px solid var(--light-grey-border);
}

.programs-dance-list-item-dragging {
  background: #ddd;
}

.title-author-box {
  flex-grow: 1;
}

.dance-list-authors {
  font-size: small;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dances-list-formation-base {
  color: #666;
  font-size: small;
  width: 2.8em;
  text-align: right;
  align-self: center;
}

.dances-list-button-wrapper {
  align-self: center;
  margin-left: 8px;
}

.figures-toggle-container {
  width: 25px;
}

.dances-list-figure-table-wrapper {
  padding: 0.5em 0 0.5em 25px;
}

.program-spacer {
  height: 43px;
  border-top: 1px solid #ccc;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.dances-grid-table td,
.dances-grid-table th {
  min-width: 22px;
}

.dances-grid-row {
  font-size: 13px;
}

.dances-grid-row-in-program {
  background: #eee;
}

.cursor-grab {
  cursor: grab;
}

.dances-grid-th-content {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  white-space: nowrap;
}

.dances-grid-th-aligned {
  position: relative;
}

.dances-grid-th-content-aligned {
  bottom: 0;
  left: 0;
  padding: 6.5px 0; /* matches the usual th padding, adjusts for `bottom: 0;` */
  position: absolute;
}

/* For use with Bulma's `button is-ghost is-small` */
.dances-grid-text-button {
  padding: 0;
  height: unset;
}

.dances-grid-text-button:hover {
  text-decoration: none !important;
}

.dances-grid-separator-row {
  background-color: var(--light-grey-border);
}

.programs-edit-form-row {
  /* TODO: this should probably be a utility class */
  border: 1px solid var(--light-grey-border);
  border-width: 0 0 1px 0px;
}

/* Admin */

.attribute-cell,
.value-cell {
  min-height: 36px;
}

.value-td-name,
.value-td-label {
  min-width: 214px;
}

.value-td-default-value {
  min-width: 60px;
}

.value-td-remove-value {
  min-width: 120px;
}

/* Utilitites */

.table-cell-button {
  cursor: pointer;
}

.table-cell-button:hover {
  background: var(--light-grey-border);
}

.view-port-height {
  height: 100vh;
  overflow: auto;
}

.width-100pct {
  width: 100%;
}

/**
 * Because using the main menu in integration tests is not really
 * supported, we need to have invisible buttons that the test can click.
 * Hopefully this will be a temporary hack.
 */
.invisible-clickable {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
}
